
@{
    ViewBag.Title = "Практические работы";
}
@*<h2 align ="center">Раздел/название работы</h2>*@
<section>
    <div class="container-xxl mb-5 pt-5">
        <div class="row align-items-center">
            <div class="col-5">
                <h1 class="display-6">Практические работы</h1>
            </div>
        </div>
    </div>
</section>
<!--снизу насрано-->
<!--<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" >
    <div class="carousel-inner">
            <div class="row">
                <div class="col">
                    <div class="card mb-3" style="width: 20rem;">
                        <img src="https://hobt.ru/wp-content/uploads/2021/09/macos-big-sur-terminal-icon-21-768x512.jpg" class="card-img-top" alt="CLI">
                        <div class="card-body">
                            <h5 class="card-title">ПП 1. Работа в консольном и графическом режимах</h5>
                            <p class="card-text">Изучение основ использования CLI и GUI, а также применение основных команд.</p>
                            <a href="/lerning/OpenTask/7" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img src="https://sun9-west.userapi.com/sun9-55/s/v1/ig2/KQgZhM7WUvItD78dh8o1wjMsybPsGA7iorZ6XR1ObXBj-1iXyOTRA2a5Qiim_H9_I6_M7qyS9_oLL8DP6zMF_6ap.jpg?size=768x512&quality=96&type=album" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                ПП 2. Управление процессами
                            </h5>
                            <p class="card-text">Исследования состояния процессоров, ознакомится с инструментами управления для CLI.</p>
                            <a href="/lerning/OpenTask/8" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img src="https://sun9-east.userapi.com/sun9-35/s/v1/ig2/_09V_4jeVZq4YJ3RPa6zhiCt7WPk6Bi7pI-kWXfexv6WDNrjm6Pzs1r4eFFz7Dym1zHWTvSJ00KGuOcpytXQaJag.jpg?size=768x512&quality=96&type=album" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ПП 3. Наблюдение за ресурсами системы</h5>
                            <p class="card-text">Ознакомление с графиками монитора ресурсов и системного монитора, команды системного адм.</p>
                            <a href="/lerning/OpenTask/9" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card " style="width: 20rem;">
                        <img src="https://sun9-north.userapi.com/sun9-87/s/v1/ig2/ta_KGz0DEV5JsJ_vLhxNu6cAwm0RomTYrXrcBuMjROHNSiRsaa1fJRMxQTLrgWYuBJBOb4llnP1geDgwA2ntmO6C.jpg?size=768x512&quality=96&type=album" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ПП 4. Изучение примеров ВМ</h5>
                            <p class="card-text">Обзор различных примеров ВМ, озакомление с двухманельными файловыми менеджарами.</p>
                            <a href="/lerning/OpenTask/10" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img src="https://sun9-west.userapi.com/sun9-3/s/v1/ig2/V95MmRUStxbZA-gyq7yazv-Xnkj_nTjHZPI49-jSSnnZC2p8AlqeB8tg3bQo46WTQkrcsUH49M0C4oVfim0ycy0z.jpg?size=768x512&quality=96&type=album" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ПП 5. Операция с файлами в операционной системе</h5>
                            <p class="card-text">Ознакомление с принципами восстановления файлов, атрибутами файлов в Windows.</p>
                            <a href="/lerning/OpenTask/11" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3" style="width: 20rem;">
                        <img src="https://sun9-east.userapi.com/sun9-59/s/v1/ig2/EA9PoEyQbWVPc8-y3FGOT0FiiZj9FjVAI3CiG4Xg68m8_UHrmPYBmwA3Z1eG5GxropmQOJoaCy5FBIywCl6soWQw.jpg?size=768x512&quality=96&type=album" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ПП 6. Установка и первичная настройка Windows</h5>
                            <p class="card-text">Получить навыки по оптимизации ОС без использования утилит, ознакомление с реестром.</p>
                            <a href="/lerning/OpenTask/12" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img src="https://sun9-west.userapi.com/sun9-61/s/v1/ig2/wN7EAalWxvz69I6ejcIboisF_CQiIK5xnIJr4H2Gfyc1PDefQkx9IE9aqFTXZSAzweHc8xd7PgcLriajCUPxtQaW.jpg?size=768x512&quality=96&type=album" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Управление пользователями Windows</h5>
                            <p class="card-text">Ознакомление с принципами получения административного доступа к системе, получение опыта управления пользователями.</p>
                            <a href="/lerning/OpenTask/13" class="btn btn-primary">Приступить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>--> 

<div class="container-xxl">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @Html.Action("JobsPartial", "lerning")
    </ul>
</div>