using Microsoft.Analytics.Interfaces;
using Microsoft.Analytics.Types.Sql;
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Text;

namespace Praktikum.Content
/*{
    class Class1
    {
    }
}
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.top-cover {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: 15px;
}

.top-name {
    display: block;
    width: 100px;
    max-height: 40px;
    overflow: hidden;
    text-align: center;
}

.top-cover,
.top-name {
    margin-left: auto;
    margin-right: auto;
}*/
// Just for kicks and layout
body {
    margin-top: 30px;
    background-color: #eee;
}


// FAQ
.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    .nav-link

{
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;
    &:hover

{
    background-color: #f6f6f6;
}

&.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0,0,0,.87);
}

&:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}

i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
}

}
}

// TAB CONTENT
.tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    .card

{
    border-radius: 0;
}

.card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
    h5

{
    margin: 0;
    button

{
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    text-align: left;
    white-space: normal;
    &:hover, &:focus, &:active, &:hover:active

{
    text-decoration: none;
}

}
}
}

.card-body {
    p

{
    color: #616161;
    &:last-of-type

{
    margin: 0;
}

}
}
}


// BORDER FIX
.accordion {
    > .card

{
    &:not(:first-child)

{
    border-top: 0;
}

}
}

.collapse.show {
    .card-body

{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
}