@model Praktikum.Models.ViewModels.Marks.UserInfoPartialVM




<td>
    @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayFor(model => model.LastName)
    @Html.DisplayFor(model => model.MiddleName)
</td>
<td>
    @Html.DisplayFor(model => model.JobTitle)
</td>
      

   

